* {
    box-sizing: border-box;
}

:root {
    --bg-primary: #050605;
    --bg-secondary: #0b0d0b;
    --bg-card: #101310;

    --green-primary: #9cff00;
    --green-hover: #82d900;
    --green-muted: #72bd00;

    --text-primary: #f7f9f5;
    --text-secondary: #a6ada3;

    --border: #35591d;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    margin: 0;
}

/* SPLASH SCREEN */

.splash-screen {
    width: 100%;
    min-height: 100svh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 300ms ease-out;
}

.fade-out {
    opacity: 0;
}

.splash-logo {
    width: 450px;
    max-width: 85%;
    height: auto;

    animation: logoWhoosh 1500ms ease-in-out;
}

@keyframes logoWhoosh {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }

    70% {
        transform: scale(1.08);
        opacity: 1;
    }

    82% {
        transform: scale(0.98);
    }

    92% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/* LOGIN PAGE */
.login-wordmark {
    width: 250px;
    max-width: 70%;
    height: auto;
}

.login-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 24px 0 24px;
    box-sizing: border-box;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.login-input {
    height: 50px;
    width: 100%;
    background-color: var(--bg-secondary);
    border: 1px grey solid;
    border-radius: 8px;
    padding-left: 20px;
    color: var(--green-muted);

}

.login-input:focus {
    outline: none;
    border-color: var(--green-primary);
}

.login-input::placeholder {
    color: white;
}

.login-btn {
    width: 100%;
    height: 50px;
    background-color: var(--green-muted);
    color: var(--bg-primary);
    border: none;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 100%;
    cursor: pointer;
    transition: transform 100ms ease;

}

.login-btn:hover {
    filter: brightness(1.1);
}

.login-btn:active {
    transform: scale(0.98);
}

.login-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
}




/* EXERCISE CARD */

.exercise-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 16px;

}

.exercise-card {
    border: 1px solid var(--border);
    background-color: var(--bg-card);
    border-radius: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 8px;


}


.exercise-thumbnail {
    border: 1px solid var(--border);
    height: 60px;
    width: 60px;
    border-radius: 20px;
    margin-left: 5px;
    padding: 2px;
}

.exercise-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}



.exercise-info {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-transform: capitalize;


}

.exercise-info h3 {
    margin: 0;
}

.badge-container {
    display: flex;
    gap: 6px;
}

.badge-container span {
    background: var(--green-muted);
    color: var(--bg-primary);
    border-radius: 8px;
    padding: 2px;
    text-transform: capitalize;

}

.details-btn {
    border: 2px solid var(--green-muted);
    border-radius: 10px;
    background-color: var(--bg-primary);

}

.details-btn:hover,
.add-btn:hover {
    background-color: var(--green-hover);
    color: var(--bg-primary);
    cursor: pointer;
}

.add-btn {
    background-color: var(--bg-primary);
    border: 2px solid var(--green-muted);
}

/* BUILD ROUTINE SEARCH */

form {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 12px;
    justify-content: center;
    gap: 10px;
    width: 100%;


}

.search-params {
    padding: 10px 4px;
    border-radius: 10px;
    border: none;
}

.search-params:hover {
    cursor: pointer;
}

.search-btn {
    border-radius: 10px;
    border: 2px solid var(--border);
    background-color: var(--green-primary);
    color: var(--bg-primary);
    padding: 10px;
}

.search-btn:hover,
.save-btn:hover,
.dropdown:hover,
.link-btn:hover {
    cursor: pointer;
    background-color: var(--green-hover);

}

.routine-name {
    border: none;
    border-radius: 12px;
    padding: 8px 16px;
    margin: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

/* EXERCISE DETAILS */

.exercise-name {
    text-transform: capitalize;
}

.details-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 24px;

}

.details-img {
    width: 100%;
    max-width: 360px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 12px;

}

.details-badges {
    justify-content: center;
    margin-bottom: 10px;
}

.details-badges span {
    background-color: var(--green-primary);
}

.overview-container {
    text-align: left;
    background-color: #1d1f26;
    border-radius: 12px;
    padding: 18px;
    margin-top: 20px;
    color: white;
}

.pm-container {
    text-align: left;
    color: white;


}

.pm-container ul {
    list-style: none;
    padding-left: 0;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

}

.pm-container ul li {
    background-color: var(--green-primary);
    color: var(--bg-primary);
    border-radius: 8px;
    padding: 2px;
}

.sm-container {
    text-align: left;
    color: white;
}

.sm-container ul {
    list-style: none;
    padding-left: 0;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.sm-container ul li {
    background-color: var(--green-primary);
    color: var(--bg-primary);
    border-radius: 8px;
    padding: 2px;
}

.instruction-container {
    text-align: left;
    background-color: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: 12px;
    padding: 18px;
    margin-top: 20px;
    color: white;
}

.instruction-container ol {
    padding-left: 8px;
}

.safety-container {
    text-align: left;
    background-color: #1d1f26;
    border-radius: 12px;
    padding: 18px;
    margin-top: 20px;
    color: white;
}

.back-btn-container {
    display: flex;
}

.back-btn {
    background: transparent;
    cursor: pointer;
    font-size: 0.95rem;
    padding: 8px 18px;
    border: 1px solid var(--border);
    border-radius: 12px;
    color: var(--green-primary);
}

.back-btn:hover {
    background-color: var(--green-hover);
    color: var(--bg-primary);
}


/* TOAST */
.toast {
    background-color: white;
    color: black;
    border-radius: 12px;
    padding: 8px 16px;
    margin: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

/* MANAGE ROUTINES */

.routine {
    border: 1px solid var(--border);
    padding: 8px 16px;
    margin: 8px 12px;
    border-radius: 12px;
}

.manage-routine {
    border: 1px solid var(--border);
    padding: 8px 16px;
    margin: 8px 12px;
    border-radius: 12px;
}

.save-btn {
    border-radius: 10px;
    border: 2px solid var(--border);
    background-color: var(--green-primary);
    color: var(--bg-primary);
    padding: 10px;
}

/* HOMEPAGE */

.dropdown {
    border-radius: 10px;
    border: 2px solid var(--border);
    background-color: var(--green-primary);
    padding: 10px;
    color: var(--bg-primary);
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.link-btn {
    border-radius: 10px;
    border: 2px solid var(--border);
    background-color: var(--green-primary);
    padding: 10px;
    text-decoration: none;
    color: var(--bg-primary);
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
}